<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2> Nova Ocorrência</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Título da Ocorrência</mat-label>
    <input matInput formControlName="title" placeholder="Breve descrição da ocorrência">

    @if (ticketForm.get('title')?.errors?.['required']) {
      <mat-error>O Título é obrigatório</mat-error>
    }

    @if (ticketForm.get('title')?.errors?.['minlength']) {
      <mat-error>Tamanho minimo necessário</mat-error>
    }

    @if (ticketForm.get('title')?.errors?.['maxlength']) {
      <mat-error>Tamanho maximo ultrapassado</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descrição da Ocorrencia</mat-label>
    <textarea matInput formControlName="description" rows="5"></textarea>

    @if (ticketForm.get('description')?.errors?.['required']) {
      <mat-error>Descrição é obrigatória</mat-error>
    }

    @if (ticketForm.get('description')?.errors?.['minlength']) {
      <mat-error>Tamanho minimo necessário</mat-error>
    }

    @if (ticketForm.get('description')?.errors?.['maxlength']) {
      <mat-error>Tamanho maximo ultrapassado</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button color="primary" [disabled]="ticketForm.invalid">
      Criar Ocorrência
    </button>
  </div>
</form>
